// variables
@import './variables/fonts'
@import './variables/colors'


// Components 
@import './components/Base'
@import './components/Home'
@import './components/Product'
@import './components/AboutUs'
@import './components/Contact'


// general

*
    margin: 0
    font-family: $principal_font
    color: $general_text_color
    letter-spacing: 0.7px

button:hover, a:hover
    cursor: pointer

button:hover
    background-color: #ffffffc4
    color: #131517

a
    transition: ease-in-out 0.5s
    text-decoration: none

a:hover
    color: $darker_text_color


h2
    font-family: $title_font
    font-size: 1.5em
    font-weight: 100
    text-transform: capitalize

h2::first-letter
    font-family: $fancy_font
    font-size: 2em
    margin: 0 3px

h4
    margin: 10px 0
    font-family: $fancy_font
    font-size: 25px
    font-weight: 100
    text-transform: capitalize

h5
    margin: 10px 0
    font-family: $principal_font
    font-size: 13px
    font-weight: 100
    color: #ffffff
    text-transform: capitalize

h5::first-letter
    font-family: $fancy_font
    font-size: 2em
    margin: 0 3px



#filter
    height: 100%
    width: 100%
    background: #2b343f81




::-webkit-scrollbar
    background: none
    width: 1px

::-webkit-scrollbar-thumb
    background: linear-gradient(#ffffff00,#ffffff,#ffffff00) 
    border-radius: 200px