// variables
@import './variables/fonts'
@import './variables/colors'


// Components 
@import './components/Base'
@import './components/Home'


// general

*
    margin: 0
    font-family: $principal_font
    color: $general_text_color
    letter-spacing: 0.7px

button:hover, a:hover
    cursor: pointer

button:hover
    background-color: #ffffff9f
    border: none
    color: #485662

a
    transition: ease-in-out 0.5s

a:hover
    color: $darker_text_color