// variables
@import './variables/fonts'
@import './variables/colors'


// Components 
@import './components/Base'
@import './components/Home'
@import './components/Product'


// general

*
    margin: 0
    font-family: $principal_font
    color: $general_text_color
    letter-spacing: 0.7px

button:hover, a:hover
    cursor: pointer

button:hover
    background-color: #ffffffc4
    color: #131517

a
    transition: ease-in-out 0.5s

a:hover
    color: $darker_text_color


#filter
    height: 100%
    width: 100%
    background: #2b343f7f