@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Orbitron:wght@400..900&family=Pinyon+Script&display=swap')

$title_font: "Gilda Display", serif
$fancy_font: "Pinyon Script", cursive
$principal_font: "Orbitron", sans-serif