body
    background: #9f9d9ae5
    overflow: hidden
    
    nav
        display: flex
        align-items: start
        justify-content: space-between
        position: absolute
        padding: 20px
        width: calc(100% - (20px * 2))
        z-index: 998
        pointer-events: none

        #logo
            text-decoration: none
            margin: 2vw
            font-family: $title_font
            pointer-events: auto
            font-size: 1.2em

            @media (max-width: 900px) 
                font-size: 1em

        #logo::first-letter
            font-family: $fancy_font
            font-size: 2em

        &>p
            width: 10%
            font-size: 12px
            margin: 3vw 0
            text-transform: uppercase

            @media (max-width: 900px)
                display: none

        h1
            display: flex
            flex-direction: column
            align-items: end
            font-size: 4vw
            width: 40%
            font-weight: 100
            line-height: 150%
            pointer-events: none
            margin: 30px 40px

            @media (max-width: 900px)
                margin: 0
    
            p
                width: 100%
                font-family: $title_font
                text-align: right

                @media (max-width: 900px)
                    display: none

            p::first-letter
                font-family: $fancy_font
                font-size: 2em

            button
                margin-top: 2em
                border: solid 0.5px
                background: none
                padding: 10px 15px
                border-radius: 200px
                transition: ease-in-out 0.5s
                background: #838a8b89
                backdrop-filter: blur(2px)
                pointer-events: auto
                text-align: right
                white-space: nowrap

                @media (max-width: 900px)
                    font-size: 9px
             


    footer
        padding: 20px
        position: absolute
        bottom: 0
        z-index: 998
        width: calc(100% - (20px * 2))
        display: flex
        flex-direction: column
        align-items: flex-end
        pointer-events: none


        a
            display: inline-block
            font-size: 0.5em
            margin-right: 10px
            text-decoration: none
            pointer-events: auto

        a::first-letter
            font-family: $fancy_font
            font-size: 2em
            margin-right: 3px


    #texture
        pointer-events: none
        height: 100%
        width: 100%
        position: absolute
        background-image: url('../../../public/images/Wood_texture.jpg')
        opacity: 0.2
        background-size: cover
        background-blend-mode: hard-light
        top: 0
        z-index: 999