#home
    height: 100vh
    display: flex
    
    .products_links
        width: calc(100%/4)
        text-decoration: none
        border-right: solid 0.5px #ffffff70
        position: relative

        .image
            height: 0%
            width: 100%
            background-size: 150vw
            background-position: center
            background-repeat: no-repeat
            transition: ease-in-out 1s

            div
                display: flex
                align-items: flex-end
                transition: ease-in-out 1s

            h2
                font-size: 15px
                display: flex
                flex-direction: column
                font-weight: 200
                margin: 30px 40px
                transition: ease-in-out 1s

                span
                    font-family: $fancy_font
                    font-size: 22px
                    margin: 5px 0


        .open
            height: 100%

        .expand
            position: absolute
            width: 100vw
            z-index: 900

            div
                opacity: 0.5

                h2
                    opacity: 0

