#home
    height: 100vh
    width: 100%
    display: flex
    position: fixed
    top: 0
    left: 0
    z-index: -1
    

    @media (max-width: 1100px)
        flex-direction: column
    
    .products_links
        width: calc(100%/4)
        text-decoration: none
        border-right: solid 0.5px #ffffff70
        position: relative

        @media (max-width: 1100px)
            width: 100%
            height: calc(100%/4)
            border-bottom: solid 0.5px #ffffff70

        .image
            height: 0%
            width: 100%
            background-size: 200vh
            background-position: center
            background-repeat: no-repeat
            transition: ease-in-out 2s
            transform: translateX(0vw)
            position: absolute
            z-index: 0
            margin-left: 0vw

            div
                display: flex
                align-items: flex-end
                transition: ease-in-out 1s
                overflow: hidden

            h2
                font-size: 17px
                display: flex
                flex-direction: column
                font-weight: 200
                margin: 20px 40px
                transition: ease-in-out 1s

                span
                    font-family: $fancy_font
                    font-size: 22px
                    margin: 5px 0
                    font-weight: 100

        .expand
            width: 100vw
            z-index: 900

            h2
                opacity: 0

        @for $i from 0 through 3
            .expand_#{$i}
                margin-left: -#{$i * 25}vw
    

